<form method="POST">
    <div class="mb-3">
        <label for="search-input" class="form-label">Key Word</label>
        <input type="text" class="form-control" id="search-input" name="q">
        
        <div class="form-group">
            <label for="gender-input">
                <select name="gender" class="form-control" id="gender-input">
                    <option value=""> Select gender</option>
                    <option value="male"> Male</option>
                    <option value="female">Female</option>
                </select>
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>